* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 360px;
  background-color: #ffd900;
  padding: 62px 130px;
}

.version {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Chivo Mono", monospace;
}

.title {
  font-size: 200px;
  font-weight: 700;
}

.body {
  padding: 100px 130px 250px;
  width: 1100px;
}

.body-first {
  margin-bottom: 100px;
}

.body-title {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 53px;
}

.first-text {
  padding: 0 0 0 30px;
  border-left: 5px solid #000;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.body-second {
  margin-bottom: 100px;
}

.second-text {
  padding: 0 0 0 30px;
  border-left: 5px solid #000;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.third-text {
  padding: 0 0 0 30px;
  border-left: 5px solid #000;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.third-text-detail {
  margin: 90px 0 45px;
  font-size: 90px;
}

.text-chapter {
  margin-top: 25px;
  font-family: chapter;
}

.text-chapter h1 {
  margin: 90px 0 45px;
  font-size: 60px;
  font-weight: 200;
}

.text-chapter p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.text-mackay {
  margin-top: 25px;
}

.text-mackay h1 {
  font-size: 60px;
  font-weight: 900;
  margin: 90px 0 45px;
  font-family: mackay;
}

.text-mackay p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.text-harriet {
  margin-top: 25px;
}

.text-harriet h1 {
  font-size: 60px;
  font-family: serif;
  font-weight: 400;
  margin: 90px 0 45px;
}

.text-basis {
  margin-top: 25px;
}

.text-basis h1 {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 300;
  margin: 90px 0 45px;
}

.text-nokia {
  margin-top: 25px;
  width: 120%;
}

.text-nokia img {
  margin: 50px 0 30px;
}

@media (max-width: 500px) {
  header {
    width: 100%;
    padding: 20px 40px;
    height: 200px;
  }

  .version {
    font-size: 12px;
  }

  .title {
    font-size: 90px;
  }

  .body {
    padding: 20px 40px;
    width: 100%;
  }

  .body-first,
  .body-second,
  .body-third {
    width: 100%;
  }

  .body-title {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .first-text,
  .second-text,
  .third-text {
    font-size: 14px;
    width: 100%;
  }

  .text-chapter,
  .text-mackay,
  .text-harriet,
  .text-basis {
    margin: 0;
  }

  .text-chapter h1,
  .text-mackay h1,
  .text-harriet h1,
  .text-basis h1 {
    font-size: 30px;
    margin: 26px 0;
  }

  .text-chapter p,
  .text-mackay p,
  .text-harriet p,
  .text-basis p {
    font-size: 14px;
    padding: 0;
    margin-top: 0;
  }

  .text-nokia img {
    width: 85%;
    margin: 30px 0;
  }

  .text-nokia p {
    font-size: 14px;
    width: 85%;
  }
}
